<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Pic info</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Information Page</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>

		</main>
    <img src="{{host}}/theatrepic.jpg" alt="Thumbnail" width="200"/>
    <h2>The Coventry University Show</h2>
    <h2>What will happen on the day</h2>
    <p>Every ticket is different, in order to watch a performer you must have a ticket specific to them. This is so you don't have to pay for people you don't want to see. Some acts will be longer than others. At the end of every act there will be a very small window for you to enter/exit the theatre hall to see your performer. There will be automatic signs and annoucements to let you know when to make your move. The times for the morning and evening shows are the exact same, only difference is morning is AM and evening is PM. We hope to see you soon, if you have any more enquires please contact our team.</p>
  
  
  
  
    <h2>Ticket Info</h2>
    <p>5:30 - Introduction</p>
    <p>5:45 - Act 1 - Diversity - Tickets starting from £10</p>
    <img src="{{host}}/diversitypic.jpg" alt="Thumbnail" width="200"/>
    <p>6:00 - Act 2 - One Direction - Tickets starting from £10</p>
    <img src="{{host}}/onedirectionpic.jpg" alt="Thumbnail" width="200"/>
    <p>6:15 - Act 3 - Little Mix - Tickets starting from £10</p>
    <img src="{{host}}/littlemixpic.jpg" alt="Thumbnail" width="200"/>
    <p>6:20 - Act 4 - Raksu - Tickets starting from £10</p>
    <img src="{{host}}/raksu.jpg" alt="Thumbnail" width="200"/>
    <p>6:25 - Act 5 - Olly Murs - Tickets starting from £10</p>
    <img src="{{host}}/ollymurspic.jpg" alt="Thumbnail" width="200"/>
    <p>6:30 - Act 6 - The Wanted - Tickets starting from £10</p>
    <img src="{{host}}/thewantedpic.jpg" alt="Thumbnail" width="200"/>
    <p>6:35 - Act 7 - Beyonce - Tickets starting from £10</p>
    <img src="{{host}}/beyoncepic.jpg" alt="Thumbnail" width="200"/>
    <p>6:40 - Act 8 - Ella Mai - Tickets starting from £10</p>
    <img src="{{host}}/ellamaipic.jpg" alt="Thumbnail" width="200"/>
    <p>6:45 - Act 9 - Dave - Tickets starting from £10</p>
    <img src="{{host}}/davepic.jpg" alt="Thumbnail" width="200"/>
    <p>6:50 - Act 10 - Post Malone - Tickets starting from £10</p>
    <img src="{{host}}/postmalonepic.jpeg" alt="Thumbnail" width="200"/>
  
    <h2>Click the ticket below to book your tickets now!</h2>
  

  
  </iframe>
 <a class="/shopping" href="/secure/shopping">
<img src="{{host}}/ticket.png" alt="Trolley" width="100"/>
   </a>
   
  		<p>This is a secure page. Users need to have a valid account and be logged in to see it.</p>
		<p><a href="/">Home page</a></p>

	</body>
</html>
