<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Pic info</title>
<meta name="description" content="form to add new books">
<meta name="author" content="Mark Tyers">
<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
<script type="module" src="{{host}}/main.js"></script>
<script src="{{host}}js/inform.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 

</head>
<body>
<header>
<h1>Rear Stalls</h1>
<a href="/logout">Log out</a>
</header>
{{#if msg}}
  <aside>
<p class="msg">{{msg}}</p>
</aside>
{{/if}}
<main>
 <p>These tickets are for the rear stalls. These seats are located at the very back of the theatre, furthest from the stage.</p>
</main>
    <p>The Show</p>
    <p>5:30 - Introduction</p>
      <div class="card-block item-1">
    <h4 id="name">5:45 - Act 1 - Diversity </h4>
       <img src="{{host}}/diversitypic.jpg" alt="Thumbnail" width="200"/>
    <p id="price-tickets">Ticket price: £10</p>
       <p id="left-tickets">Tickets Left: <span class="qty-1 qty">10</span></p>
     <input type="button" data-id="1" data-name="5:45 - Act 1 - Diversity " data-price="10" data-Left="10" class="add-to-cart btn btn-primary" value="Add to cart" >
  <input type="button" data-id="1" class="remove-from-cart btn btn-primary rc-1 none" value="Remove from cart" >
 </div>
  <div class="card-block item-2">
    <h4 id="name">6:00 - Act 2 - One Direction </h4>
   <img src="{{host}}/onedirectionpic.jpg" alt="Thumbnail" width="200"/>
    <p id="price-tickets">Ticket price: £10</p>
   <p id="left-tickets">Tickets Left: <span class="qty-2 qty">10</span></p>
     <input type="button" data-id="2" data-name="6:00 - Act 2 - One Direction" data-price="10" data-Left="10" class="add-to-cart btn btn-primary" value="Add to cart" >
  <input type="button" data-id="2" class="remove-from-cart btn btn-primary rc-2 none" value="Remove from cart" >
 </div>
   <div class="card-block item-3">
    <h4 id="name">6:15 - Act 3 - Little Mix </h4>
    <img src="{{host}}/littlemixpic.jpg" alt="Thumbnail" width="200"/>
    <p id="price-tickets">Ticket price: £10</p>
    <p id="left-tickets">Tickets Left: <span class="qty-3 qty">10</span></p>
     <input type="button" data-id="3" data-name="6:15 - Act 3 - Little Mix " data-price="10" data-Left="10" class="add-to-cart btn btn-primary" value="Add to cart" >
  <input type="button" data-id="3" class="remove-from-cart btn btn-primary rc-3 none" value="Remove from cart" >
 </div>
 <div class="card-block item-4">
    <h4 id="name">6:20 - Act 4 - Raksu </h4>
  <img src="{{host}}/raksu.jpg" alt="Thumbnail" width="200"/>
    <p id="price-tickets">Ticket price: £10</p>
  <p id="left-tickets">Tickets Left: <span class="qty-4 qty">10</span></p>
      <input type="button" data-id="4" data-name="6:20 - Act 4 - Raksu" data-price="10" data-Left="10" class="add-to-cart btn btn-primary" value="Add to cart" >
   <input type="button" data-id="4" class="remove-from-cart btn btn-primary rc-4 none" value="Remove from cart" >
  </div>
<div class="card-block item-5">
    <h4 id="name">6:25 - Act 5 - Olly Murs </h4>
 <img src="{{host}}/ollymurspic.jpg" alt="Thumbnail" width="200"/>
    <p id="price-tickets">Ticket price: £10</p>
 <p id="left-tickets">Tickets Left: <span class="qty-5 qty">10</span></p>
     <input type="button" data-id="5" data-name="6:25 - Act 5 - Olly Murs " data-price="10" data-Left="10" class="add-to-cart btn btn-primary" value="Add to cart" >
 <input type="button" data-id="5" class="remove-from-cart btn btn-primary rc-5 none" value="Remove from cart" >
 </div>
   <div class="card-block item-6">
    <h4 id="name">6:30 - Act 6 - The Wanted </h4>
    <img src="{{host}}/thewantedpic.jpg" alt="Thumbnail" width="200"/>
    <p id="price-tickets">Ticket price: £10</p>
    <p id="left-tickets">Tickets Left: <span class="qty-6 qty">10</span></p>
     <input type="button" data-id="6" data-name="6:30 - Act 6 - The Wanted " data-price="10" data-Left="10" class="add-to-cart btn btn-primary" value="Add to cart" >
  <input type="button" data-id="6" class="remove-from-cart btn btn-primary rc-6 none" value="Remove from cart" >
 </div>
  <div class="card-block item-7">
    <h4 id="name">6:35 - Act 7 - Beyonce </h4>
   <img src="{{host}}/beyoncepic.jpg" alt="Thumbnail" width="200"/>
    <p id="price-tickets">Ticket price: £10</p>
   <p id="left-tickets">Tickets Left: <span class="qty-7 qty">10</span></p>
      <input type="button" data-id="7" data-name="6:35 - Act 7 - Beyonce " data-price="10" data-Left="10" class="add-to-cart btn btn-primary" value="Add to cart" >
  <input type="button" data-id="7" class="remove-from-cart btn btn-primary rc-7 none" value="Remove from cart" >
 </div>
  <div class="card-block item-8">
    <h4 id="name">6:40 - Act 8 - Ella Mai </h4>
   <img src="{{host}}/ellamaipic.jpg" alt="Thumbnail" width="200"/>
    <p id="price-tickets">Ticket price: £10</p>
   <p id="left-tickets">Tickets Left: <span class="qty-8 qty">10</span></p>
      <input type="button" data-id="8" data-name="6:40 - Act 8 - Ella Mai " data-price="10" data-Left="10" class="add-to-cart btn btn-primary" value="Add to cart" >
  <input type="button" data-id="8" class="remove-from-cart btn btn-primary rc-8 none" value="Remove from cart" >
 </div>
  <div class="card-block item-9">
    <h4 id="name">6:45 - Act 9 - Dave </h4>
   <img src="{{host}}/davepic.jpg" alt="Thumbnail" width="200"/>
    <p id="price-tickets">Ticket price: £10</p>
   <p id="left-tickets">Tickets Left: <span class="qty-9 qty">10</span></p>
      <input type="button" data-id="9" data-name="6:45 - Act 9 - Dave" data-price="10" data-Left="10" class="add-to-cart btn btn-primary" value="Add to cart" >
  <input type="button" data-id="9" class="remove-from-cart btn btn-primary rc-9 none" value="Remove from cart" >
 </div>
      <div class="card-block item-10">
    <h4 id="name">6:50 - Act 10 - Post Malone  </h4>
       <img src="{{host}}/postmalonepic.jpeg" alt="Thumbnail" width="200"/>
    <p id="price-tickets">Ticket price: £10</p>
       <p id="left-tickets">Tickets Left: <span class="qty-10 qty">10</span></p>
     <input type="button" data-id="10" data-name="6:50 - Act 10 - Post Malone" data-price="10" data-Left="10" class="add-to-cart btn btn-primary" value="Add to cart" >
  <input type="button" data-id="10" class="remove-from-cart btn btn-primary rc-10 none" value="Remove from cart" >
 </div>
  </iframe><br/> <br/>
  <a class="/circle" href="/secure/circle">
<img src="{{host}}/circlepic.png" alt="CircleTicks" width="200"/>
   </a>
     <a class="/front" href="/secure/front">
<img src="{{host}}/frontstallpic.png" alt="FrontTicks" width="200"/>
   </a>
   </a><br/><br/>
   <button class="btn btn-primary" data-toggle="modal" data-target="#cart" >Cart(<span class="total-count"></span>)</button>
   <button class="clear-cart btn btn-danger">Clear Cart</button>
  <p>This is a secure page. Users need to have a valid account and be logged in to see it.</p>
<p><a href="/">Home page</a></p>

<script type="module" src="{{host}}/main.js"></script>
<script src="{{host}}/inform.js"></script>
</body>
</html>
